
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1.4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
    color: rgb(204, 204, 204);
}
a:hover , 
a:focus,
a:active{
    text-decoration: none !important;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    background: rgb(0, 33, 65);
    color: #fff;
    

}

.nav__link {
    text-decoration: none;
    color: antiquewhite;
    padding-left: 30px;
}


.nav__brand {
    text-transform: uppercase;
    color: antiquewhite;
    text-decoration: none;

}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 3rem; */
    padding-top: 10px;



}

.nav__toggler {
    display: none;
}

.nav__toggler div {
    width: 2rem;
    height: 0.2rem;
    margin: 0.1rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;

}

@media screen and (max-width: 768px) {
    .nav__toggler {
        display: block;
        cursor: pointer;
        text-decoration: none;
    }
.nav{
    width: 143px;
}
    .nav__menu {
        position: fixed;
        height: 40vh;
        width: 46vw;
        background: rgb(0, 33, 65);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        justify-content: space-around;
        top: 10px;
    }
}

/* Active Class */
.nav__active {
    transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}